footer{  
grid-area: footer;             
background-image: $bgColorFondo;
border-top: 1px solid black;
box-shadow: 1px 1px 3px 2px rgb(130, 128, 128);

}
.contenedorFooter{  
    display: grid;                 
        grid-template-rows: auto;
    grid-template-columns: 30% 50% 20%; 
    grid-template-areas:
     "dividirMarcas dividirRedes dividirLogo"
     ;


        .dividirMarcas{  
            grid-area: dividirMarcas;                   
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;

                img.img-publicidad{                       
                    width: 5rem;
                    height: 2.5rem;
                    

                }
            }  
        .dividirRedes{   
            grid-area: dividirRedes;                         
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 3px solid #fdd68d;
            border-right: 3px solid #fdd68d;

                img.img-redes{                     
                    width: 3rem;
                    margin-left: 0.5rem;
                }
            }
        .dividirLogo{   
            grid-area: dividirLogo;                         
            display: flex;
            justify-content: center;
            align-items: center;

            .imgLogo{
                img.iconoLogo{
                     
                    border-radius: 5rem;                 
                    width: 5rem;
                    margin: 6px 0px 6px 20px;
                     
                }
            }
            }    
     }     






