footer{  
    /* Pie de Pagina*/ 
grid-area: footer;             
background-image: linear-gradient(to bottom, #494a4c, #3c3c3e, #2f2f30, #222223, #161617);
border-top: 1px solid black;
box-shadow: 1px 1px 3px 2px rgb(130, 128, 128);


}
.contenedorFooter{                   /* Pie de Pagina*/ 
display:grid;
grid-template-columns: 30% 50% 20%;
grid-template-rows: auto; 
grid-template-areas: "divirMarcas" "dividirRedes" "dividirLogo";

}
.claseFlexb{                   //Clase usada como Extend
    display: flex;
justify-content: center;
align-items: center;
}
.divirMarcas{    
    @extend .claseFlexb;         //Extend           
width: 100%;
margin-bottom: 20px;
}
img.img-publicidad{                       /* Pie de Pagina*/ 
width: 80px;
height: 50px;
margin-top: 30px;
margin-left: 10px;

}
.dividirRedes{                        
    @extend .claseFlexb;             //Extend      
    width: 100%;
    border-left: 3px solid $dividirLogosRedes;
    border-right: 3px solid $dividirLogosRedes;
}
.img-redes{                     /* Pie de Pagina*/ 
width: 3rem;
margin-left: 0.5rem;
}

.dividirLogo{                            
    @extend .claseFlexb;                  //Extend      
}
