header{                  /* Encabezado*/
    grid-area: header;
    background-image: linear-gradient(to bottom, #121213, #1c1c1e, #262628, #303133, #3b3c3f);
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 3px 2px rgb(110, 109, 109);
  
}
#contenedorHeader{                /* Encabezado GRID*/
    display: grid;
    grid-template-columns: 10% 90%;
  
    grid-template-rows: auto;
    grid-template-areas: "imgLogo navHeader";
   justify-content: space-evenly;
}
.imgLogo{                       /* Encabezado GRID*/
    grid-area: imgLogo ;     
}
.imgLogo img{ 
   
    border-radius: 5rem;                 /* Encabezado GRID*/
    width: 5rem;
    margin: 6px 0px 6px 20px;
}
.navHeader{ 
    width: 110%;                    /* Encabezado GRID*/
    grid-area: navHeader;
    align-self: center;
}
.navHeader ul{   
    max-width: 90%;               /* Encabezado GRID*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style:none;     
    justify-content: space-evenly;
}
ul li a{                         /* Encabezado GRID*/
    width: 18%; 
}

a.cabecero-op{                 /* Encabezado Botones*/  
    background-color: #adacab;
    font-size: 20px;
    font-family: 'Original Surfer';
   text-shadow: 1px 2px 2px rgb(4, 4, 4);
    padding: 12px 60px;
    border: 1.5px solid black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 2px 8px 2px 8px;
}
a.cabecero-op:hover{                   /* Encabezado Botones*/
    background-color: #d9d8d7;
    
}

/* MENU MOBILE */
.menuMobile span{
    color: rgb(255, 248, 240);
    background-color: #ec820a;
    border: 1px solid rgb(124, 123, 123);
    box-shadow: 2px 1px  1px  1px  rgb(162, 153, 153);
    border-radius: 8px;
    float: right;
    line-height: 58px;
    width: 3.5rem;
    margin-right: 40px;
    font-size: 3.5rem;
    cursor: pointer;
    display: none;
}
#check{ display: none;}
